.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  float: left;
}

.circle:hover {
  cursor: pointer;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}